



body{
	background:none;
	margin:0;
	padding:0;
}

a{
	text-decoration:none;
}

#wraper{
	width: 1120px;
	height: auto;
	margin:auto;
	background:white;
	overflow:overlay;
}


.top_bar{
	width:100%;
	height:30px;
	background:#EDEDED;
	margin-bottom:20px;
}

.top_bar ul{
	list-style:none;
	margin:0;
}
.top_bar ul li{
	float:right;
}
.top_bar ul li a{
	color:red;
	display:inline-block;
	padding: 6px 10px;
	text-decoration:none;
}

.top_bar ul li a:hover{
	text-decoration:underline;
}


.cart_top_bar{
	background:#EDEDED;
	width:100%;
	height:50px;
	margin-bottom:20px;
	text-align: center;
}
.cart_top_bar table{
	border:none;
}

.cart_top_bar table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
	padding:2px;
	}
	
.cart_top_bar table tr{
	float:left;
}
.cart_top_bar table{}

.cart_summary{
    
    display: inline-block;
    font-size: 20px;
    line-height: 47px;
}

.cart_summary b{
	color:red;
}





.header{
	width:100%;
	height: 150px;
	margin-bottom:20px;
	position:sticky;
	top:0;
}
.logo{
	width:300px;
	height:150px;
	margin-right:15px;
	float:left;
}
.logo img{
	width:auto;
	height:150px;
	
}
.search_member_area{
	width:640px;
	height:150px;
	float:left;
	margin-right:15px;
	text-align:center;
}

.member_area{
	margin: 24px auto;
	position:relative;
}
.member_area ul{
	list-style:none;
	margin:0;
	padding:0;
}
.member_area ul li{
	display:inline-block;
}

.member_area ul li a{
	text-decoration:none;
	padding:10px 30px;
	display:block;
	font-size:18px;
	color:white;
	background-image:linear-gradient(to right, green, red);	
	transition: 2s;
}

.member_area ul li:hover a{
	background-image:linear-gradient(to right, red, green);	
}


.hide{
	float: right;
    margin: -10px -10px 0 0;
    cursor: pointer;
    color: red;
    border-radius: 30px;
    border: 1px solid black;
    padding: 5px;
}


.register_panel,
.login_panel{
	    width: 550px;
		height: auto;
		background: white;
		padding: 20px;
		position:fixed;
		top:0;
		margin:80px auto 0;
		border:5px solid green;
		color:gray; 
		display:none;
		text-align:center;
}

.register_panel h3,
.login_panel h3{
	margin:0 0 15px 0;
	color:red;
	font-size:30px;
}

.registration input,
.login_panel input{
	padding:5px;
	margin:10px 5px;
}

.register_panel{


}


.registration{
	text-align: right;
    margin-right: 80px !important;
}

.registration li{	
	height:30px;
	width: auto;
	margin:10px 0;
}

.registration li input{
	width: 300px;
    height: 30px;
    font-size: 16px;
    padding: 5px;
}

#login,
#sub_mit{
	width:100px;
	background:red;
	text-align:center;
	cursor:pointer;
	color:white;
	font-size:16px;
}





.search_area{}
.s_box{
	border:none;
	border-bottom:1px dashed green;
	padding: 5px;
	font-size: 17px;
	color: green;
	width:500px;
	
}
.s_box:focus{
	border:none;
	color:green;
}

.s_btn{
	width:100px;
	font-size: 17px;
	padding:5px;
	border:1px solid green;
	cursor:pointer;
}

.s_btn:hover{
	border-color:red;
	background-image:linear-gradient(to right, red, green);
	color:white;
	transition:2s;
}

.cart_list{
	float:right;
	width:150px;
	height:150px;
	background:url("images/jute-bag2.png") no-repeat;
	background-position: center;
	text-align:center;
	position:relative;
}

.cart_msg{
	margin:5px auto;
	display:block;
	color:#008037;
}
.counter{
	        position: absolute;
		margin: 60% -9%;
		font-size: 27px;
		color: red;
		border: 1px solid green;
		border-radius: 15px;
		padding: 2px;
}

.u_row{
	width:100%;
	height:32px;
	margin-bottom:20px;
}

.u_row button{
	border:none;
	float:left;
	padding:5px 20px;
	font-size:17px;
	position:relative;
	z-index:1;
}

marquee {
    background: pink;
    padding: 5px;
	}

.slide_update{
	width: 995px;
	float:right;
	font-size:17px;
	
}



.caret{
	border: 9px solid red;
    display: inline-block;
    transform: rotate(45deg);
    margin-left: -8px;
    margin-bottom: -10px;
}

.row{
	width:100%;
	margin-bottom:20px;
	overflow:overlay;
}


.side_menu{
	width:300px;
	height:auto;
	margin-right:15px;
	float:left;
}

.recent_add h2,
.side_menu h3{
	text-align:center;
	background:#F0F0F0;
	padding: 20px 20px;
	margin-bottom:15px !important;
	margin:0;
	color:red;
}

.side_menu ul{
	list-style:none;
	margin:0;
	padding:0;
}
.side_menu ul li{
	width:100%;
	margin: 2px 0px;
}
.side_menu ul li a{
	text-decoration:none;
	display:block;
	padding:10px;
	color: gray;
	font-size:18px;
}
.side_menu ul li:hover>a{
	color:white;
	transition:2s;
	background-image:linear-gradient(to right, red, green);
}

.side_menu ul li .active{
	color:white;
	transition:2s;
	background-image:linear-gradient(to right, red, green);
}

.container{
	width:805px;
	height:auto;
	float:right;	
}


.slider{
	width:805px;
	height: 300px;
	background: red;
	margin-bottom:15px;
}

.slider img{
	width:100%;
	height:auto;
}


.recent_add{}

.item{
	width:246px;
	height:auto;
	margin-right:15px;
	margin-bottom:15px;
	padding:5px;
	float:left;
	border:1px solid #F0F0F0;
	text-align:center;
}

.item:last-child{
	margin-right:0px;
}

.item:hover{
	border:1px solid red;
}

.item img{
	width:100%;
	height:auto;
}

.item h4,
.item h5{
	margin:0px;
	padding: 8px 0px;
	color:gray;
}

.item h4{
	font-size:20px;
}


.item h5{
	font-size:18px;
	margin-bottom:10px;
}

.item h4 a{
	color:green;
	text-decoration:none;
}

.item h4 a:hover{
	color:red;
}

.add_cart,
.item button{
	float:none;
	padding: 10px 20px;
	font-size:15px;
	font-weight:bold;
	border-radius:5px;
	border:1px solid green;
	margin-bottom:10px;
}
.add_cart:hover,
.item button:hover{
	background-image:linear-gradient(to right, red, green);
	color:white;
	cursor:pointer;
}

.footer{
	width:1120px;
	margin:auto;
	background:#F0F0F0;
}

.footer p{
	text-align:center;
	color:red;
	padding: 15px 0px;
}


.breadcum{
	text-align:left !important;
	font-weight:normal;
	font-size:15px;
	margin:0;
	color:gray !important;
	background:#F0F0F0;
	padding: 20px 20px;
	margin-bottom:15px;
}

/*  Single post  */

.single_post{
	width:100%;
	height:auto;
	overflow:overlay;
}

.single_post_pic{
	float:left;
	width:350px;
	height:400px;
	padding:5px;
	margin:0px 20px 20px 0px;
	border:1px solid #F0F0F0;
}

.single_post_pic_lg{
	max-width:350px;
	margin-bottom:15px;
}

.single_post_pic_lg img{
	width:100%;
	margin:0;
}

.single_post_pic_sm{
	width:100%;
	height:114px;
}

.single_post_pic_sm a{
	display:inline-block;	
	border:1px solid #F0F0F0;
	margin:3px;
}

.single_post_pic_sm a img{
	width:106px;
	height:106px;
}

.single_post_pic_sm a:hover{
	border-color:red;
}

.product_details{
	float:right;
	width:413px;
	height:400px;
	padding:5px;
	margin-bottom:20px;
}

.product_price,
.product_name{
	font-size:22px;
	color:dimgray;
	margin:0;
	margin-bottom:20px;
}

.product_quantity,
.product_weight,
.product_brand{
	margin:0;
	margin-bottom:15px;
	color:gray;
	font-size:18px;
}
.wish_list{
	margin: 15px 0px;
	padding-top:15px;
	border-top:1px solid #F0F0F0;
	text-align:center;
}

.wish_list a{
	display:inline-block;
	padding:5px;
	color:gray;
	border-right:1px solid gray;
	text-transform:uppercase;
	font-size:11px;
}

.wish_list a:last-child{
	border-right:0;
}

.wish_list a:hover{
	color:green;
}

.related_product_header{
	text-align:center;
	background-image:linear-gradient(to right, red, green);
	padding:10px;
	color:white;
	text-transform:uppercase;
}

.product_description{
	width:782px;
	min-height:200px;
	border:1px solid #F0F0F0;
	float:left;
	padding:10px;
}

.product_description b{
	background:red;
	color:white;
	margin:-10px 10px 10px -10px;
	display:inline-block;
	padding:10px;	
}

.product_description p{
	margin:0;
}


/* Cart Area */

table{
	width:100%;
}

table, th, td {
  border: 1px solid cadetblue;
  border-collapse: collapse;
}

th{
	text-transform:uppercase;
	background: lightseagreen;
}

th, td {
  padding: 15px;
}

table tr td img{
	width: 100px;
	height: auto;
}

td h4 {
	font-size: 18px;
	margin: 5px auto;
	text-align:left;
}

td span a{
	font-size:15px;
	text-align:right;
	display:block;
}

.ta_center{
	text-align:center;
}

.ta_center option{
	display:inline-block;
}

.order_summary{}

.o_s_head{
	text-align:right;
	padding:10px;
	margin:20px auto;
	background-color: lightseagreen;
	color:white;
}

.o_s_table{}

.voucher_note{

	width:50%;
	float:left;
}

.bill_details{

	width:45%;
	float:right;
	text-align:right;
}

.bill_details table{
	font-size: 20px;
	font-weight:bold;
	border: 1px solid red;
}

.chkout{
	float: none;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid green;
    margin-bottom: 10px;
	color:white;
}

.chkout:hover{
	background-color:red;
	transition: 1s;
}







