
@font-face {
  font-family: 'SolaimanLipi';
  src: url('SolaimanLipi.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SolaimanLipi';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAACvkABAAAAAASDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAryAAAABwA
AAAcTK7uAEdERUYAACukAAAAJAAAACYAhAA/T1MvMgAAAeAAAABNAAAAYPIn/gNjbWFwAAAC9AAA
ALIAAAGaBKrVbGN2dCAAAASoAAAABgAAAAYFOwBEZnBnbQAAA6gAAAD8AAABYjJHc2BnYXNwAAAr
lAAAABAAAAAQABcACWdseWYAAAUcAAAe5gAALvh+Gc5CaGVhZAAAAWwAAAAxAAAANvgFzdpoaGVh
AAABoAAAAB8AAAAkDIgEqmhtdHgAAAIwAAAAxAAAANCplA6GbG9jYQAABLAAAABqAAAAav7883ht
YXhwAAABwAAAACAAAAAgAkQCRm5hbWUAACQEAAAGygAAEYUnQmj0cG9zdAAAKtAAAADBAAABKt7J
QT5wcmVwAAAEpAAAAAQAAAAEuAAAK3jaY2BkYGAA4uW/pzyJ57f5yiDPwQACJ2c5XoDR/+f8C2Nj
YnsO5HIwMIFEAYVkDbkAAAB42mNgZGBge/6/HEjq/p/z7yIbEwNQBAWYAACbJgY/AAABAAAANADA
AAUAAAAAAAEAAAAAAAoAAAIAAYUAAAAAeNpjYGI2Y5zAwMrAwjqL1ZiBgVEVQjMvYEhjEmJgYAJK
MYEolgbGBmYGJODoExLE4MCgoCDLlsY4i4GB7TlDCFCYEUmJAgMjANpHCRQAAAB42hWLsUrDYBRG
z//f29DBV3DqWKSDSMmQTplLdJBsZlVwEOnQSUImkU7SLTg6dPIBBHESnyBTKc3i4uAmFOnvzYXD
Gc53/Tcpdn5lqFHz4z+YyzuDHox1RupiTv0dU2Nok0orEg+l/eTmBx+HLx/zbJTWxl3v7P94iw7A
fbLsNu7X+hORNGzdhGtp3KHbcGPM5YJ7uTWfUGjBpR6TaR5aWYe99nl1jyAvoe0Nw04WYadXYR8d
cS5ZqCUBHVk/g39+ZDadeNpjYGBgZoBgGQZGBhCYAuQxgvksDBVAWopBACjCxaDMoM/gwBDLEM9Q
y/CdcxPnWwURBUkF2f//gWoUGFQZrBiigXLVYLk3CsIKEgoy////f/z/0f8b//f93/t/0X/9b6Xf
bB4IPuB4wAa1CwdgZGOAK2BkAhJM6AqATmZhZWNg5+Dk4ubh5eMXEERICgmLiIqJS+A2XlJKGug7
3EBWTp6B6kBFVUlZQVGNaPUAC0cj1QAAeNpdj79OxDAMxhNSDngDpAgpVlWGU07sTB3SSqhLoQzx
wh/pTqL3DkhdWDzwLGYLW18MgdurbmCJ/X22fvmclPJNUqaNX1p/YtK/H0mFq29llHl+2iSlvXNV
H1i/iDjxYqxBOuNdzaaoH2KOjhzdbcnV7u11y1kxVxnsCG8cqy728j5G4BLtsd0h3gonmzjZzCEU
wn4h7GeCAH5k6dQ3js11G+8jD8FyGdACuIrHNvIYLCDK1uqYVOp7f7lkPpPMq7U05wdKJwxBINFB
5cAjkSW5Y9FJq/9GuRhy+AQwRZX00M6jIQc7GTnkILEwyFcXvuliJcEAN38Kn2cDuAAAKwAqAEQF
EQAAAAAALAAsACwALAB2AKYBEgJSA2ADjgPGBAIEyAT+BVoFbgW8BdAGQAa+BtwG+gcYB8gI/AkW
CSoJRAlWCbAJxgokCowK8Au+DI4Mogy2DZ4Oag7iD1wP1hDKEbASqhOEFM4VlhZ6FxIXfAAAeNqt
eguQG8d5ZvfMYAAsgBkMMJgBMHgNZoFZvB+DBRb7ABbYJ5fL5Xv5XJLia0nKCqkHRctURKlo6SIr
ytlxRZF1kazSueyczqdIsqUwK9kp23XWXaVSoi+xc7Z48jk5xecrq5I7VxRF4oL39wBY0Sopqbhc
xWY3Zgf9+L/v//6/u4EoNI0QddyyG9HIivIvYFQYf9HK4LfLL7CWa+Mv0hQ00Qs0eWwhj1+0stT1
8RcxeW4IqpBQBXWainUG8eOdU5bd7/3HaebPEXSJ/r7zDv4Ok0AuFEOFNahoRGeuIJf7CnJchVLo
tjlo01DLV9EVxMJDT6FYSmi0Xqka5QgVxlZBZHkcz1PDlQZFHuFTkWVmtCgmwx4qGs3IyRDvDiUl
TzLiPUK9u1ifF+LlGNu+jqQqZ3MrmuhLhNy8koQ53UOz1ALzh8iGfMgL49EwHgfFCkWEcb1kUMlH
a7g3FjTvScfjqbqGkcMb8rgV0TEaZw6GisVQ51m8zCmSyyUpXOdZc83ajbfopywyUlAU3Qr9I+iX
6Y3hASOE4R06swajS6YxKFg4CwYIQ22DWoJ6AOoBeN8HbefVbu3uveOH2l/ofi/Yez9ytViyaF6V
1rzasAFF9Ro0KYZPIyWhelVqenZX59X9c8tPP9d8G6O987vw1P6F/c881/77Tuc38dRsZ03Bz3V2
4OcW8Owc/k+dnaRs6qzNL+BpZEG1G3/F/BkjIhH5URY10S784BqaRJq5mABaMOsamIDUNpSDumVB
o/Bggdjl9pYPnYbGPVAehvIFKP8Byp9A+a9QfgjlZ1D+CcrASsuK7NAIQEmRLm8n9tKQTfDU15Dc
a0GPJ+GVu6E8BOUxKF+G8jKU70L5AZS/hfIOFLNHFhoSlCQU+naY3DA0ZqBQt5szzcFMc/2Z5mCm
OZhpDmaag5nmYKY5mGkOZpqDmeZgprn+THPQSQ5mmiP9kllNwqwmYVaTMKtJmNUkzGoSZjUJs5qE
WU3CrCb7s5qEWU3CrCb7s5qEWU3CRIAQAO7yNWCRBIgPEXchrCgQG7iQBDYAPyE0jWCfyFEaeIie
xxYsY2/vI3GYGnGYPK1ztFWMUFFcrmKojQY9XMlTGRznKDqaHN+cPHNWHd2a8xZKZUmwr69Rb62u
R5/UxhZT2aVRLVDZXi9uGYlQ9zCMW9f1hJtm7G6ZU/Pj1+edSiYSGJQdLn9cskl6SPjp1ImpuOvB
i9MnZuKWQKWgtX/ElJzvv0EHJk/MJvT5k83S4cUSndtyfP1rlc3VBOdM1peM+paiYrOdpc7p81WV
HmospXPLM+niliPAADR94yeMzlxAE2gHOo7xFXQCTHESygmwEQ+OwJPP0NauXUFZ+JyFzxp8blwz
0W0Auo0+ug1AtwHoNgDdBqDbAHQbgG4D0G0Aug1At9FHtwHoNgDdhsnDbYhHGlj+CtoJg+wELPZu
POFhuJVrJgNWgAErwIAVYMAKMGAFGLACDFgBBqwAA1aAASt9BqwAA1aAASt9BqwAA1ZgsmgNHUUD
pkuN9nQjgqagBtxZLZ4kmPZRzmOoGFOxAHweR7DcoGsyvBHBRrnmAwpogLWPcCVCyQ3sNTlBPhjl
KqPv2NW+aEQ271geKh9bKqUml5IBP8NHh7fWc/PloCs6PLSif2J7ftN4WT7K1xd2phK7M9umO27s
VhI+X0aTMKYHPO5D2xyhmXbNKdcNLVhoJotnA2E9F0oEeFadO7c1s3NxJjJy2wxd3bJnoZSZ3ZON
NKc3p7cdenImf/TU2bHSxH3nTyZkf+ouekuomgqIyZrmjbrEwczI0N5L63uj+w7vi/lL1WYi2Soq
cRAHhNF2mkX/GzQ9AEiAYha6qusnap639GMGWIWxao9wXpeNxi6fwnEhnwvTNpeX02h2+e6ltI/B
roDX4fD6XZjxZbZcWIa+lzrHqWVLDQWRdw0JIIR0BnXVGUH/OE+B9T0NXPNxNE/8Sga7+6jlS9/+
9NTMg9++d+TU3ilhQBnKe4Y+0ewcn3jlLcw89CB2/PyVYS184Hf/8rFXPvc/nl4Ntk9lwt21ZGC8
AowH8WMNHvBmkOA3IiaMLcPYFjK2SHHYOgwgN/AEruQZfThCU4X25W/dN7m6fcLHMlzUWDzZfuDb
D0ziP3+o84//Z60ajhz7/f/2aHOTrCx95StffPT8UGzuT968Qca9TKn0Jct5oO0cIhpzBe0qrJlR
cpepupGNlrHRmt9oHdho3dZrwfxYokAFLEpyhDb1KTlBgmoTs1YOuJgsdEMs4S4NuqV3gWKisBZK
T5q4SeR7PjBvg4aoHMXEyBGa2FikjwTimhrQBs/zLLbbrXafKk85BNHu3TwmDCZTvmCSZUOpnMAH
MrPj2tTUfEqMWhy+kEdWvIKS0fZaOdHFOOS4f9oX9CWnolwilfV5UzbWlh2fVh/WZ9ozujBIUz8J
+XVD2TtyV4qRo5p7wC/xziXa54/Xh8/my3xaVyRBV+JeG8XHwr5YQLRRmagzKPN2TzCRD82Wdy/O
ag67MyhxziUxP3d6SUgFnSk9LHoTGc1lcZa9Eb/HSic1qcuBCcQxs0wAOdDYGjCONTlgAQ4g4ABr
Jgi9zMICGFG9tIqkUNar3czADhkBFlSfKmiCOqwK1GX8nc7E5c4E5GOBTvNyp45fu4y/BWM90HkD
P4VeB36fXIPg7urHbRfopauvly7QSxfopQv00gV66QK9dIFeukAvXaCXLtBLV18vXeCHLtBL6ApC
mAizCZEQRvQ5ALSVSeDRu7LVVyur/iW5Xo4HWpIe8VwcHE/7s9M7kp7rA/nRZjAJPhpM+C9Ghhey
6YO72nyK2GgvfpTaRnGwdgeoJDbVEfwdlrwXv9uxUdwDXVs+cuNv8AVYn4AOrcHL5vqIQNPAdBoE
mgaBpkGgaRBoGgSaBoGmQaBpEGi6L9A0SdZAoOm+QNMg0HRXoBE4iSnIZcl3U9TFyJj2qhm/Px3z
eqKZ1xt1fybm8cbSfn9G9Zpzu/HTGxp1BnyOrKGLJ0X82sAa/vl969fBHf/pOZJTfhnW8Dn6WViD
hu7eWMWvEyXCHd/VbjoevbqxqjXkAWJ8xOq8H1qsUprxqmRpUbLYwC99+tDSqTc+ZAqqy0FYXxDl
yfoUlDAJnYDJuK52kx7SFruhVQHkFEBOAeQUQE4B5BRATgHkFEBOAeSUPnIKIKcAckofOQWQUwhy
hI1rKA1bE7I+k5Xah1l5cxpFnn5JGq0Mhrss1cfTvsz0Dt3zOqxECmRVrxjP+CWA+/qA0Wz5o13W
qiOb9NTBnVPuFDPsyw5KvnjWLw3FvEIkZfITUmZmgcnBVH2I4E92QGuIgc+UqaLeYeyzY1+N8V7/
PH0b/vFZ/ONLndOdU5fAbhMYdIKOmvs2LyJSwZigYTMNJ99VfRjKBGN//x8ZO/UHly937rh8+SPG
xeYuZQ0+MQhvjIuHMYz7/tv0bfRzlzrq2Y56CT8O4/7pjR9T32cMVEeb0O9eQQvw5c1QRq51FYoQ
eQHwakK7Ce25Lm5zZmx5CMpjUL4M5WUo34XyAyh/C+UdKD3c5gC3OcBtro/bHOA2ZybFlqtE92C4
rrKsoTY4Alm2AXQmy4YoAQEmTAKPNU+byVEDk2RXi7NW4C1rvQlSn7W7sax2UWep71G51qJqD/oF
wRYOG0lffLgZKVa9EV3kwt5Ss+3LatLQ/NHR8aOzSabzYiwf40fq4VyEr1DvJjcvzMcHlEjEaXOq
Tt0RHhrWBieqBTl5eNwLu1OXqBYSY6wnMarHZuuJofae4sL1n0rxlJibFNWMnGsQbFDnbyzfZ15H
d+ORNVj0QXN1Q8ht1mfA7KRm4fkZsg0iOuAGHXD3dcANOuAGHXCDDrhBB9ygA27QATfogBt0wA06
4O7rgBt0wA2Gc5vZbe7mTuvQab3faR06rUOndei0Dp3WodM6dFqHTuvQaR06rfc7rUOndei03t8Q
/bqwPwOYf5Jgvoh2m1Y4RrZNUGtAY6IZJONXroFe5ekCJolvgzGR72YcN+WClBXyiAZkh3lG4yzd
LBiIInMYHJ7ppdIMIQv5Zp6iDxory9v14+N3zzhHZjc3h9zJZiFByZlmJjdZ3X5LunhyV1UZv2U2
uf3Qudl4w0iF+NTm1fs+u2X15ccv7Mzue+atR9vHD5+eV8+9fd+eK88/effM5vu/+p3Xj5194eFj
zYiuOVMTy6Ph9NjB/5fNywO2f0hkLZxfryW8hVSI9Y9VtJqRaWVlv7FUGzm+PBtQZlrGAFPYtP/Q
vsH53/rk8fkhW/vW3/7Sy4cvv/nMAau/kJquT6d23vuV791323effeSW4fot933mkcb+35n0zE4b
lkAVePZ7N17CdzJ/RNSDRBXUzW2RqUGgAIZPE6D83psXLrzJ/NHM+5+d+diYRUPMClyimPu6IYvk
FTe+hg8wL3T7ZuGB2TfT61s2BG0YygN33vmjH9mYu2bep+AV9kaHeQqd+FBMr0FMZ5nH3z91YhWe
/aTzHLUG46dQbQ2y48BGfkyDLASgHuznRiLomR1SGmTmpdFei8gD9gldAkANGTvxf4HknBADBGAI
tbayxaG1q4VJ3S3o7eLhT82HHGqjXJqIO0NzFy3n3ZdPd/7dxO7xIbcj2To803m+tmt8yKHMnN+P
Z+tbKhrn0kc2l/DJxTPTUWKL2zrL6C/ZEqzL2xfnm2znBTvctrrKlt5NIIzDsL53YH1psj7LTfk/
OewhOWCCrC9WIHsQEqYHUMxcn6/XInm3lYWFWYHJVSJ8QqVaq9aSkGF3V2mUZclcOPXOITU8o33q
QCJuFJ2cdvpIUuDders09m9GW05tguKk4eFbO2svj0eirDd4fgfe1jwQnFMCE9G9dXyiunMi5Rpt
PdV5orypppN13k4fxY9YZsHW58gRhd2cu53krdfI3sluAmDqgQx6IIMeyKAHMuiBDHoggx7IoAcy
6IEMeiD39UAGPZBBD+S+HsigB3I3hpPjO8HcDJm7DdhgNDHsiHxkYysZ5tHHI83x0Eg+vJOyyYOV
xNCY7lXs03xc8dB/lhsPFmfSzJkDlE0KKJwuZ/KVqBby8MEEWc89oCGPWWTY+5wiphb7WZcIwij2
hVEEYRRBGEUQRhGEUQRhFEEYRRBGEYRRBGEU+8IoAmFF4K5oqi3d42RvHcHuOsiWbriS1EwlovSN
M8/HLl4oN+JOSeAibu9gyIN9WkYKjRYjzMEjT+f0+HAuLfsTdqsrOChTfj3Mh8szyDyTfJi+hXZa
NsE6JtDbV1Cj0I3LIonX136tp3T9FcEgZiYJBQYyugmAAaAbALoBoBsAugGgGwC6AaAbALoBoBt9
0A0A3QDQjT7oBoBuwBTXUBwIZnxgtniBCEFww1HyMGoQ6jrZAwH3e1xoYGJFuZ+2Jj72L/jvPmxo
Kd41dOeJj/sLEyIQaJVcyv9hCPSP/YuJDXCMum5ybAL93w+wIeYTrxIRMzEi5kNgPgTmQ2A+BOZD
YD4E5kNgPgTmQ2A+1DcfQmQvmTRhMc2HkDneL2HUJBhdM/EhJDCABEafBAaQwAASGEACA0hgAAkM
IIEBJDCABAaQwOiTwAASkOzLMEnwEfgEbxKyX8LnY+lu+RUcAZ/8FVxE/+ecB6MjVIB6g7r/I/aZ
R6iL6w9S969295mnqQD95ke+d5o+f/2R3nsWtA216Z/RT0G+LqOMmWL9Qzd7XjSRhjaYJn6VmK17
EYB6h/6kznaBysK3sn2gsgBUFoDKAlBZACoLQGUBqCwAlQWgsgBUtg9UFoDKAlBZc9cXhy5bXXK1
gFwtIFcLyNUCcrWAXC0gVwvI1QJytYBcrT65WkCuFpCr1SdXC8jVMhO0Csy0AjPPQtejZCOpo7CZ
oPHm0Vn/3oMg/8tbKwyW+vAzupLU4yRQY7lc9VbM48teokY9JsTyIaWo+cR4MazkVM/6Gv2F66vU
7MZzrRgK5FRx3Jf2+HkbpiLxQJyZFWTeykkK5xB5O62Gipro04qKP6f5vGq+85NtnfdCxUGfb7AY
8ufjPm88R9Xiuo2Xw1xMtYTWfzDjUaIu+PIA646QPfxf33iHuchcgIT0u1fQFlj5Ug9HDGWL+wOL
yNd+jZFvDYVQpefFGAaZ7SY9a0CMzaaZW7BzJ/UgbKmJ43l6h0PWAvlqHg2aX22Zbgil0OXdHLlI
0oU8DT7nE8nuSe/ZXDaPlzeS58wHt3GS3LtjkMlJk0+jv7ZKBfRyKBEbyLiTxlwp2qpqUqIUcru8
8UI4mIm4ldxIiG2cXkxrjd3l9l2aoJZiiQo43fXHmC/8l4HjVC1QHJTYiURMETLtnMJ4s/OVSFGT
GCEhBjIxT7Q0EQ1nI3xmyydaxvGt5dk6OzgUt8SNcQWLq6sElw5S6K8zZ8BeYIXpXniYdn+wQyXt
OXIwZRQIKy39raOWt+hyxCITloH66OTIEexA37xnFGBrCVlGBPus9PPOxuGL8wefvHR0OkGPuRK1
TUfvXUpP37pJlwJ2vTqpTqU31RKs7o0HeXckE4rko0JUyyxMFN2HjjP483t++5aKZeVzL3/zpXll
6jOfvufEFl9x6ZihL2n+ciZuZ3G4NDWEveQW0zOoCP70WLzzqqzSA/XNy0Mzr52f7sb4V0Hpv8Ec
BMBH0VZyzWgzV0xukOI37cvJZx3aeqF7nThOLGAxLVAwCZPopW3kwGUEXhwhd7HEKpA9quZ5bu+Y
1ieYd7MiXTUPn8E5GasYxSr9KnYoxaRR6HxP2Tw/YrWMH7qjqu9YnClHvImQ8CbFK3Fd93hLRikV
tuQMPDHPBUWnc+84PqM3FpOZ8U8eGY9WZ5e2JdZfs0lDMYeN2ssynNycma6qvkR5rKWO2Blzn4z/
M3UZfC+CPttNNEhaHL3pkpT4YYxcrELNd7WTBxfh+9rJg3byoJ08aCcP2smDdvKgnTxoJw/ayYN2
8n3t5M37hRSJZLeTgzEb4rtBzlEgZ1ZdhpHAFgYv8pK7FxayC5nk3ZBrcLRVhz0PqNwfx0bG2ulP
73J7JwNRlzO7tV0R9m6jLncq9JCU1ePOPfffP7Q9zVVvH9dmBp2ZkXZ8M951+rSJ842/7vyY/j6s
uY7msbyGVHKyZV4PGWbtho0DmcfoBtPJ+UgauU1/bxdMG7TBBu2+DdpggzbYoA02aIMN2mCDNtig
DTZogw3aYIN23wZtsEEbbNA244ezK2kqSJoKkqaCpKkgaSpImgqSpoKkqSBpKkia2pc0FSRNBUlT
+5KmgouqpqRFYC2qOc9RU4tgAKgXCEPdsIwqOXc1Ja17cz5sLpEc4Uk9ORs2OQteDO5LrhxYq1DA
edw71qt2ARnDplZ1k4phU7NUb9efwc0FfMyaa21b3qPLqjRQHTRS8V3F16bvWi6JQtx5762fjc+0
6r7mvfXwWCna+V/0L9Z/h3IFqqd3DlPVE3tnJcZdmqvqUYW3J7I5YfJybf2SupgMcOHWqYXcgaFU
Krd/2RoopfFyeyY73hSpX6yurvsCioWfPfGbc0J5cim3/g1w5Rvv3VizTAPO29EK+i3UJEczQ+ay
c71fTAxBvaNXHyTy/xtA+HNQ7jCPNVPmyymSNBCLkGMvnooTcxSwaRX9pn+a3qQauDZsGkOQJdmM
uE0M8ieTnbLWMyC8U45iycKS68UouWIUcIQ2G8TeWny4YnZI93qOE8Ucw8zzQjxdNfTIdKjky1Ul
R9ApJwVxIplshUKT2uWLDzyfXDHWb7UsrD8fy40E81JmwssOhlmrPKQO8NGAwMmeaW0sldPWf3b7
HX84f0d1RkrJnbanMjYWGBOTImtjaStF2TwuWY3ntNhoUBqJOnk5xDG0s56rbg+Hbc6MmBZz6we2
VOSiVyvzYlqSYw6HfW3X4rJX42ZWVzv/Ux+PCT56aCSRGBUMIegT7LySkOW4LPstmhZ2Jkdvi05X
2vKYRikdwxIczPiaXFaz+xXFEcWYksJ8NKNGvGLUZrPQXocakbpYMq8ClmNoDt2BnryC7gSY7oJS
BF3K3aTOud45Rq73oxDyY5g7zT0/FGinr3XvAYvwrAx1GaB2gmSXTfqTp8ZVEtC67Sq0q72z8/Gr
3dpMFPbCw/1QDhbIseIHTElcJQdn5JhAr+gctv4LPKkBFaKYNy/4gA06/lfSgv68xcI4Xe3qxzOC
+XZn5Df04QAnOwU7WJQKX+j83b+WAU9rEwHsTzo4motx63/8z+D/rWGnwseM5e8M7TPksOW2Rep7
vwrixH87na9bDlmGUdFMjn8Ilicn4b2Y1L7Wz8bgOTmxhLYC7ci1D3L+NNRpAMgBqpg28VVuug9p
m3CtmTcbH/y1dLVbTxKUkyTJKXRllegmgjQoaZ4VDWy0HButRK8Fk4AOcr2OCleJ7vbfmdxotXst
4AtwhC7gpN4jC7QbuIkJRQQgAy1E6Qgeg42YhcM81aOHyRADa/TPyxGWZe22Umkyp9sS4ZHD+/eX
Hz73jf2vrD9M/ZBTnHoqUeK5qDPoOv9s5+HQZOK5kfS4MOnPRAPAUOfTeOLUo6UDnODinZOVeCdS
PCjWtZk9ZZH66tKF5A5jdf0XNsGRKIzQF1MHE04LvfoX9qD7jC7GuJqcS0ZHg1Tw+qXOuwQztNx5
kKWY29Fn0CvoT9F54lsjpnOQOHS2F49egvolMOs5+NtL3QTgm2DpVXi0rxehnFDvM+3kQt9Eq2Zr
ZKO1uNE6t9F6tdciuRYmP+wgx3V9oU4WIIRxGHLu7tPkBG5SMm9eg0uyZIAkC3qSXG6Qw2p4k/yr
lcnferk6uU2vdW/RwSNlKYxNLa/WqkZZJj8IAaWN4DBkv3q1Vilg601XJJJck2tV8OAk2X+Rrsn5
YndggqHlDWlU17bkZpuOiFctRSzugWR6ergwf8ifqa4kw1lBG3BrairqZimWdnOpy3tPPrTv/ACb
CaYcLsnpdjps3pCD89lGBIHjZW8o5sztKqSOcSUtP1XJ+iuKJrtYJ6twMbFYbo3MT2UgEIw67BYL
O9D20mIqlwz5c3FRVNOSQ3IGUpzmTjWcbl5wioPC1Ogorf9+pXmowxK2/DwcVYL6NBsQE50dxn4h
4sqwDDvgGAyK5dhevXawvWSkSplEaYnXxGbAE52hvqhHA5BK2F0Op52PCrIRZB20oqUCqYhQGN53
8AGhqoUSPnvAJUuS0yO/5U/JGXFMTU0l9hXrJ5MXYlUxKgZE6VOhaFhMSQLDh4aCvnRMtLKUzVbI
hWUD01aW9XD5TbNjvn+76O9sNikJ+d4fdL5OX2Z3oKOQaK0SJy50T4/JccEJ4NxuiCqEc01UNmsH
OoEWTT8uE0EAQRkjP4K62j1a2g3tPdDeU+j+/TC0S1DfcpVcpXS/CcmrSMCFXV21ZiXcqZETMjMr
MC9OCAV4YGmfpJDV1iqkncHWuFUzWQp8A3Y1sQ9yLhImqETZpGsYG5BuAW3+wiMlfcONOT1vj5Yy
OiNsykmOyQL4cXAoZBzIFYcMTyABdlNstnuoBylOlkrRZ4yYIzxzqagNwvabESRLgBlgUgkD7zrV
SNZF7pn1ba99ETdO46Nhv+hJT5cbU0wElKheZFyb5FKhsGVqPFLZEgyzrN+ZChrBJvXgaiqoCU6n
jUnkwlu1QZ/ssVlsXo8/rIRsAWHAm5KbufSQtvr+VwESGiHA4/vsT9E2dBFdQtvX0J4+Im2w6X2A
yBbzgL8r4iRIdw8B1tAUug+1TWTIX7bCk+XekzV0b69FcldTIqNY5LHpa+Q/rR+B6V4WZvoy2Z3C
4oaJRPQ9XCavQ5YbpUhaS477ZZHt9UL28VGK4Gr+Zoj8XyUXN/jdsCE2BJ/FNiBD/JQCUi1em9AD
dTlUD7tk94DVFi4KYkYeqsXddkfnUWxYFDkfC6uuRPCeRJlLJTILBn628/gFd7QQZUfrsclkUeAG
PLKrkHK6OcHp8ngDoifKWe02O6tcII7IcLF24pHcbPChcngxkBYGveKQJ8pYBjhnSXPnK/VQuCTa
vQ5HVB6am2pr2lzidNCRic8cPpodGwMHO+VWOH1Bu2X0xNjpznh8+/JufXn3Y/PppBh02DJSLqEw
PAt+ZWHtTg/vVEWnW5DF7ev/HXCkCI7MEcjJtqFdyLxIWeiiuNNEcNH0JQmyb4Ik+Y0tSdUWTdwA
ozJQux/LQGNN+4I/EG8gRRZl80dKQPyeI5GkiYDRg5O8qve2HgSA99Kzc0mPwsm2lDfKxSOxW4xP
bX50VRjLjNllu3ssSrt43iJl5LHMSjo/tDRT5QWflXIAtnOhvDBaLWlcUOicYY6sP/GJp8EBqMsQ
UYNhm8uW81dC23fvOHR0NBy6Rzy29YnwuV1PqMsn+cFE3FXdGp7Ph5xiPBcMjkZt9nAiI0dbgUFH
QnMXNfzvV7usR1170RfAXsOw84zepEMjYK8yKpl2KplMJ/ohyeWu//f0A+JO2dxVmMwmEQQ2Ix/I
R9cM74WiutHY5rPzaiGjs5A6ZCNjAz6OCzhYOz0gSZMTx5aN8EJM8Niox+mz6488bTr7kWCK0jNH
/eo8OPtIxqMq7gGec0VFLsA1D9RHd+4c1dlCzgfhi/qrjSX9fwlE91QAAHjatVdLb9tGEF4njhGn
fiVoAbdIi+3NBgTJjhEEkIMgsmM7ShzZkGQE7o0iVxIbiissl1b0E/oneum951576C/orb320F9R
9JvhUg9bcR5oTYucnZ3HN7Ozs6QQ4qu5J2JO8N/8D4ufO3pOLC3/4ugbYmH5d0ffFN+ufOPoebG0
8p2jb4mvV35y9AL4fzr6tlhZXXD0IugdRy+Jh6s/O3pNLK3+4+i7YmHtS0ffE0trZXicm1+E8j32
TvScWF/+0dE3gPM3R98Ue8t/OHperK88dfQtUV7pOHoB/F8dfVvcX/nb0Yvi/uoXjl4S36/uOXpN
rK/+5ei7wPOZo++J9TUpngklEhGKjohBBUKKlhiKMp4NoUUkPMz1cI/BeYmn4bEUj6E1Pf8U+m9E
Cn4X1FAUMW9g9wmkm+CFmJGiDW4sLKh8bCCtQJG9NmYG7EWJXfCG4KV4+g6BYYykaRlJC7OWtUO2
SVKBKLFnCVyapduwk0ukLKF43jJSyRYMpAkPYRjPHImaOOOn4vwYeIgwPoWdFqgQyKQ45idJJKzl
saX+SCbLSJ7bsfXDUeyNS7HTnHZYPfBDzhplRHEcXRfBBT8TNy/FgysRTGMr8DxpbrDdPMOG+f2R
p02XS0IbseQsf8VrV3bWOgU8G0/g67Jf5Tie06f7AM+Is93i+ZQjaOMZcRyZTSleiypQPBcnWKkm
xhWs2TnzK6KOi8ZNcHadTcs+M13FEU3ioWru86plaLMVMZwNy/nI8vtKHMD2Pvxm9itiDziOGcv5
KMuHPK5BtoGLxifQIoxUQ4SvCYl9ID/mEXHP8DyFXANaRa4NNcrPp9fkBrQtrj72dgnXgK8i7/t0
tFdLTj/XS8DpcD6K0H2L3ybnfnoN94H2FFFXgeyIK4FWTrmayHdiVte09yx3jQjWi2JZ3OFfhWvG
4z5A9eBDIotLwS8hGldnhqA91R/Iuud6gcd+NLgpPCtXlQOuVB/3vJYSF8N0/RZGfYR897j6gpmS
+SrTPiWs2S7JpPs8lyOe7ixX9ws99URGL6MvvEOT5LI4YlB21GGoyinCiH1S90xdHeQeDOuljJr8
d2bmLEOV7T8f9MVEhNO97FOqcrp/XF3nWfHR3h24fWtc7i7YV+h6pZroXXqiV2YVkozWg+pheE3O
qWrpXOy6vP5/OahO1fL0qTW7PseyHksp3pvKVa29NqfZmo77/uUzZPr8mPSad9zce35W5WujXZQd
tw7ByFvAd8r91XizudzGwJ2XVzULrntE3EHUe+NMuM9Y3sP5itLbhub3l3fFXxTimUrCTqwC2RqW
ZUNHXtjzYvnSM2FPPk7c+Kl6kyZdNSxq03kim90wkW0dW0lPo5RMdNsOPKN25VCn0ocBo4IwsSZs
pVbJ0EovDkrayJ4OwvaQGGkcKCNtV0mrTC+Rus2Do9qZPFKxMl4kT9NWFPryOPRVnCjpJbJPHAAh
tCx+SN4bzrs81LDq2VDHu1KFmDfyQpkEY/kgd+CsFSTQbHiWABup+6S0CZRDGXl2rFecDnYcUyDD
mO11dR8hdGEJQQ3CKJItJdNEtdOoICEpX1ebz0/OmrJSO5evK/V6pdY834Wk7WrMqguV2Ql7/SiE
WQRivNgOCe+rg/r+c8hX9qrH1eY5QT6sNmsHjYY8PKnLijyt1JvV/bPjSl2entVPTxoHRdlQ6n2Z
3Oha2y+XSoPBoNiJU1rVUpTNJaVOPyrat3azkEe4f3J6Xq0dyXYYKWSCFhG5DpT1wigpLt9ZvlNJ
pCeTvvJD+FJvfcXphIF2Vg9GIacQCbSf9hRSOeiGfpeylMCDy2+BakSqXgtJGDEp5DT2IiwJ2H1t
yLArltG6xFYz0Nx8YWIy0PARa0sFE9pERW2UJxyzglFJGtkw7oyRwRTWz9cX7NBV2btT6epjFPPY
X1cPsLYG6C68KAw4AaguzVWJhCQUx6A7nEIue2Gnaz8SQTXLsttaE/lkrjcEOqtil9QxUkTKtZ/v
ELc/MlUqXFKnXUXRaLjseFT2UAs0NvzIL0YkMcC+HE0WUB6Rsuqyz8TCBgfaNro35R+t6PI3GJ0d
ffxE3paOwz5GNX7Z6PFxI2ra9Lzoqu74623W111uucxfEVu4dsZeuPeNeyE5LcsHW1s7H4xwG411
yx331PRf8EsTNfFtOKL7I7gmt9k9B/EQqsUtlFQqX6Sxkts7cvtReWsL/wTg4QcDuO5rVkw3+Y8U
nv1erfntwefzJmZjLXB9d/pk742zNbM3SYMEZd9PyejtXEw0Kd0LfaPjyGsVfdQNmsLEJLqDSdGY
E+pj/20Vzdb9FwC54ZcAAHjabYtdTsJQEIW/KbSUQlskvKKiW+AZjAvxOnghoNgHWozGXfGnu9NL
E0hNPMnMmW/ODB6lfj7p8Z+GrgSPGnV8AkKaRLRoE5OQ0uGCLn0uueKaATfcMmLMHfc8YHjkwBc7
9mzY8i2e1KQuvgTSkFCaEklL2hJL4k8ys9TA9XzxHh5t+jbNIjfMdTkzVhtufDIrTZ1rrq+LiVm/
qK46FS4XsVs8z91brlmhR8o+qlQUJ0pK+nNqbTW09hz+Aqj3RvEAAAAAAAADAAgAAgAQAAH//wAD
eNpjYGRgYOADYjkGEGACQmYGTQZGBi0GYyCbBSzGAAANXwDEAAAAAQAAAADJiW8xAAAAALmLPP4A
AAAAyZpB0A==) format('woff'), url('SolaimanLipi.ttf')  format('truetype'), url('SolaimanLipi.svg#SolaimanLipi') format('svg');
  font-weight: normal;
  font-style: normal;
}


